# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Embedded executables
*.hex
*.elf

# Ignore Everything in the gerbers dir
gerbers/*

# Ignore Eagle temp/backup files
*.?#?

# DS_Store files too
.DS_Store
